#home {
  color: aliceblue;
}

.mainContainer {
  margin-top: -10px;
}

.textHome {
  text-align: justify;
  letter-spacing: 3px;
}

.githubContainer {
  margin-top: 100px;
}

.homeCard {
  position: relative;

  width: 25rem;

  display: flex;
  justify-content: center;

  -webkit-box-shadow: 4px 4px 8px 3px rgba(0,0,0,0.5);
  box-shadow: 4px 4px 8px 3px rgba(0,0,0,0.5);
}


.homeCard p {
  color: #333333;
}

.imgGithub {
  box-shadow: 0 1px 2px 0 #333333, 0 1px 5px 0 #333333;
  float: left;
  width:  100%;
  height: 350px;
  object-fit: cover;
}
.githubTitle {
  text-decoration: underline;
}

a {
  color: #333333;
}


hr {
  color: #333333;
  margin-top: 100px;
  margin-bottom: 100px;

}

