<hr id="home">
<div class="container">

  <div class="mainContainer container container-fluid mb-5">

    <div>
      <h1 class="text-center mb-5">Mao MATER</h1>

      <p class="textHome">
        Jeune dévellopeur à la recherche de mon premier emploie, suite à deux formations dans le dev.<br>
         Disponible sur clermont ferrand et ses allentoure, je souhaite intégrer une entreprise au plus vite afin de mettre à profits mes
        compétences et en aquérire de nouvelles
      </p>
    </div>

    <hr>

    <div class="row" id="github">
      <h2 class="githubContainer text-center mb-5">Quelques uns de mes projets sur <a target="_blank" href="https://github.com/maoherve">github :</a></h2>

      <div class="homeCard card container mt-5">
        <img src="assets/img/gwent.jpg" class="imgGithub card-img-top mt-1" alt="...">

        <div class="middle card-body">
          <p class="githubTitle card-text">Gwent Project</p>
         </div>
      </div>

      <div class="homeCard card container mt-5">
        <img src="assets/img/boulangerie.jpg" class="imgGithub card-img-top mt-1" alt="...">

        <div class="middle card-body">
          <p class="githubTitle card-text">Boulangerie Goguillon & Fils</p>
        </div>
      </div>
    </div>

    <hr id="skills">

    <div class="text-center">
      <h2 class="mb-5">Les technos que je maitrise </h2>

      <a  target="_blank" href="/assets/cv/MaoCV.pdf" class="mt-5">
        Mon cv
      </a>
    </div>


  </div>
</div>
