<hr id="home">
<div class="container">

  <div class="mainContainer container container-fluid mb-5">

    <div>
      <h1 class="text-center mb-5">Mao MATER</h1>

      <p class="textHome">
        Jeune dévellopeur à la recherche de mon premier emploie, suite à deux formations dans le dev.<br>
        <i class="bi bi-dot"></i>La premiere en 2020 au sein de la Wild code school d'Orléans, ou j'ai apprit à dévelloper sous symfony.<br>
        <i class="bi bi-dot"></i>La seconde au sein de l'IPME de clermont ferrand, afin d'apprendre spring boot et angular, ainsi que quelques notion de DevOps comme Azure, Docker...<br>

        Disponible sur clermont ferrand et ses allentoure, je souhaite intégrer une entreprise au plus vite afin de mettre à profits mes
        compétences et en aquérire de nouvelles
      </p>
    </div>

    <hr>

    <div class="row" id="github">
      <h2 class="githubContainer text-center mb-5">Quelques uns de mes projets sur <a target="_blank" href="https://github.com/maoherve">github :</a></h2>

      <div class="homeCard card container mt-5">
        <img src="assets/img/gwent.jpg" class="imgGithub card-img-top mt-1" alt="...">

        <div class="middle card-body">
          <p class="githubTitle card-text">Gwent Project</p>
          <p>Gwent API <a href="" ><i class="bi bi-github"></i></a></p>
          <p>Gwent Angular <a href="" ><i class="bi bi-github"></i></a></p>
        </div>
      </div>

      <div class="homeCard card container mt-5">
        <img src="assets/img/boulangerie.jpg" class="imgGithub card-img-top mt-1" alt="...">

        <div class="middle card-body">
          <p class="githubTitle card-text">Boulangerie Goguillon & Fils</p>
          <p>Boulangerie Symfony <a href="https://github.com/maoherve/Boulangerie" ><i class="bi bi-github"></i></a></p>
        </div>
      </div>
    </div>

    <hr id="skills">

    <div class="skilContainer text-center">
      <h2 class="mb-5">Les technos que je maitrise </h2>
        <p><i class="bi bi-dot"></i>html<i class="bi bi-dot"></i></p>
      <p><i class="bi bi-dot"></i>java<i class="bi bi-dot"></i></p>
      <p><i class="bi bi-dot"></i>css<i class="bi bi-dot"></i></p>
        <p><i class="bi bi-dot"></i>php<i class="bi bi-dot"></i></p>
        <p><i class="bi bi-dot"></i>js<i class="bi bi-dot"></i></p>

      <h2 class="my-5">Les frameworks</h2>
        <p><i class="bi bi-dot"></i>Spring Boot<i class="bi bi-dot"></i></p>
        <p><i class="bi bi-dot"></i>Angular<i class="bi bi-dot"></i></p>
        <p><i class="bi bi-dot"></i>Symfony<i class="bi bi-dot"></i></p>

    </div>

    <hr id="academic">

    <div  class="academicContainer text-center mb-5">
      <h2 class=" mb-5">Mes diplomes et fomations</h2>

      <p>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-mortarboard-fill" viewBox="0 0 16 16">
          <path d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917l-7.5-3.5Z"/>
          <path d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466 4.176 9.032Z"/>
        </svg>
        Bac+2 devellopement web et web mobile
      </p>

      <p><i class="bi bi-house-fill"></i>Formation Dévops Java (Institut de la Pme, 2022, 4 mois)</p>
      <p class="mb-5"><i class="bi bi-house-fill"></i>Formation Développeur web et web mobile (Wild Code School, 2020, 9 mois)</p>



      <a  target="_blank" href="/assets/cv/MaoCV.pdf" class="mt-5">
        Mon cv
      </a>
    </div>


  </div>
</div>
