<div class="container mt-5">


  <div id="home" class="mainContainer container container-fluid mb-5">

    <h1 class="text-center mb-5">Mao MATER</h1>

    <p class="textHome">
      Jeune dévellopeur à la recherche de mon premier emploie, suite à deux formations dans le dev.
      La premiere en 2020 au sein de la Wild code school d'Orléans, ou j'ai apprit à dévelloper sous symfony.
      La seconde au sein de l'IPME de clermont ferrand, afin d'apprendre spring boot et angular, ainsi que quelques notion de DevOps comme Azure, Docker...<br>
      Disponible sur clermont ferrand et ses allentoure, je souhaite intégrer une entreprise au plus vite afin de mettre à profits mes
      compétences et en aquérire de nouvelles
    </p>

    <hr>

    <h2 id="github" class="githubContainer">Quelques uns de mes projets sur <a target="_blank" href="https://github.com/maoherve">github :</a></h2>

    <div class="row">


      <div class="homeCard card container mt-5">
        <img src="assets/img/gwent.jpg" class="imgGithub card-img-top mt-1" alt="...">

        <div class="middle card-body">
          <p class="githubTitle card-text">Gwent Project</p>
          <p>Gwent API <a href="" ><i class="bi bi-github"></i></a></p>
          <p>Gwent Angular <a href="" ><i class="bi bi-github"></i></a></p>

        </div>
      </div>

      <div class="homeCard card container mt-5">

        <img src="assets/img/boulangerie.jpg" class="imgGithub card-img-top mt-1" alt="...">

        <div class="middle card-body">
          <p class="githubTitle card-text">Boulangerie Goguillon & Fils</p>
          <p>Boulangerie Symfony <a href="https://github.com/maoherve/Boulangerie" ><i class="bi bi-github"></i></a></p>

        </div>
      </div>
    </div>


    <hr>


    <div>
      <i class="bi bi-alarm" ></i>

      <i class="bi bi-filetype-sass"></i>
    </div>

  </div>




</div>
