<div class="contactContainer container mt-5">


  <div id="contact" class="mainContainer container container-fluid mb-5 row text-center">

    <h1 class="mb-5">Contactez moi :</h1>



    <a href="mailto:maoherve8@gmail.com?subject=Contact emploi" class="mailContact hover-underline-animation">
      <i class="bi bi-envelope-fill"></i> maoherve8@gmail.com
    </a>

    <a href="tel:0751078556" class="numberContact">
      <i class="bi bi-telephone-fill"></i> 0751078556
    </a>

    <p>
      <i class="bi bi-house-fill"></i> Clermont-Ferrand
    </p>

  </div>

</div>
