/* You can add global styles to this file, and also import other style files */

  body {
  background-color: aliceblue;
}

h1, p, h2, a {
  font-family:  sans-serif;
}

p {
  color: #333333;
}

.mainContainer {
  margin-top: 150px;
}

.bi {
  color: #333333;
}
